<%=render 'gpathways/error' %>
<main class="mt-5 pt-2">
  <div class="container fadeIn">
    <div class="panel panel-info">
      <div class="panel-heading"><h4><b>Pathway Basic Information</b></h4></div>
      <div class="panel-body">
        <div class="row mt-3">
          <div class="col-md-6 mb-4">
            <ul class="list-group mb-3 z-depth-1">
              <li class="list-group-item d-flex justify-content-between bg-light">
                <div class="info">
                  <h6 class="text-primary" >Title :</h6>
                  <h5 class="text-muted">&nbsp;&nbsp;<%= @gpathway.title %></h5>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div class="info">
                  <h6 class="text-primary">Description :</h6>
                  <h5 class="text-muted">&nbsp;&nbsp;<%= simple_format @gpathway.description %></h5>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between bg-light">
                <div class="info">
                  <h6 class="text-primary">Species :</h6>
                  <h5 class="text-muted"> &nbsp;&nbsp;<%= @gpathway.species %></h5>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div class="info">
                  <h6 class="text-primary">Tissue :</h6>
                  <h5 class="text-muted">&nbsp;&nbsp;<%= @gpathway.tissue %></h5>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between bg-light">
                <div class="info">
                  <h6 class="text-primary">Pathway Category :</h6>
                  <h5 class="text-muted">&nbsp;&nbsp;<%= @gpathway.pw_category %></h5>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between li-light">
                <div class="info">
                  <h6 class="text-primary">Cell Type :</h6>
                  <h5 class="text-muted">&nbsp;&nbsp;<%= @gpathway.cell_line %></h5>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between li-light">
                <div class="info">
                  <h6 class="text-primary">Related Disease :</h6>
                  <h5 class="text-muted">&nbsp;&nbsp;<%= @gpathway.disease %></h5>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between bg-light">
                <div class="info">
                  <h6 class="text-primary">Regist date :</h6>
                  <h5 class="text-muted">&nbsp;&nbsp;<%= @gpathway.updated_at.strftime("%Y-%m-%d") %></h5>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <% if @gpathway.user == current_user %>
                  <div class="float-left">
                    <%=link_to 'Edit', edit_gpathway_path(@gpathway), remote: true, data: { target: '#pathwayModal', toggle: 'modal'}, class: "btn btn-success btn-sm" %>
                    <%=link_to 'Delete', gpathway_path(@gpathway), method: :delete, class: "btn btn-outline-danger btn-sm", data: { confirm: 'Are you sure?' } %><pre> </pre>
                    <div id="pathwayModal" class="modal fade"   tabindex="-1" role="dialog" aria-labelledby="pathwayModalLabel" aria-hidden="true"> 
                      <div class="pwModalDialog" role="document"></div>
                    </div>
                  </div>
                  <div class="float-right">
                    <%=link_to 'Pathway List', gpathways_path, class: "btn btn-secondary btn-sm" %>
                  </div>
                <% end %>
              </li>
            </ul>
          </div>
          <% if @grxn_count != 0%>
            <div id="graphArea" style="width:495px;height:505px;background:white;overflow:hidden;" class="col-md-6 mb-4"><b><%=@gpathway.title%></b>
            </div>
          <% end %>
        </div>
      </div>
    </div>
<!-- Modal for pathway category -->
    <div class="modal fade" id="pwOntoModal" role="dialog">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Pathway Category</h4>
          </div>  
          <div class="modal-body">
            <div id="pw_category"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success">Save changes</button>
          </div>
        </div>
      </div>
    </div>
<!-- Modal for Tissue ontology -->
    <div class="modal fade" id="tissueOntoModal"  role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Tissue for animal</h4>
          </div>
          <div class="modal-body">
            <div id="tissue_select"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  
<!--File upload -->
    <div class="panel panel-info">
      <div class="panel-heading"><h4>Reaction Table Upload</b></h4></div>
      <div class="panel-body">
        <div class="row mt-3">
          <div class="col-md-12 mb-4">
            <div id ="file_download">
              <%= link_to 'Reaction Format Download', gpathway_path(@gpathway, "download": @gpathway), class: 'btn btn-info' %></div><br>
                <div id ="file_upload">
                <%# 새로만든 route에 id를 보낸다. %>
                <% if @grxn_count == 0%>
                  <%= form_tag(upload_gpathway_path(@gpathway), method: :post, multipart: true) do %> 
                    <table>
                      <tr>
                        <td><%= file_field_tag :fileupload, onchange: 'readExcel()' %></td>
                        <td><%= submit_tag("Upload", :style => "color:blue;") %></td>
                      </tr>
                    </table>
                  <% end %>
                <% end %>
                </div>
            </div>
            <!--Confirm file input -->
            <div class="row mt-3 ml-2">
              <div class="col-md-12 mb-4">
              <table class="table table-hover file_table" id="rxntable" style="table-layout: fixed">
                <tbody id="rxn_json">
                
                </tbody>
              </table>
              </div>
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</main>

<%= javascript_include_tag 'spv/SPV_v1.1.js', 'data-turbolinks-track' => 'reload' %>
<!-- pathway visualization(spv)-->
<script>
var path_links = [];
var node_labels = [];
var edge_labels = [];
  <% if @pw_rxn_array.present? %>
    <% @pw_rxn_array.each do |data| %>
      var reactant  = '<%= data["reactant"] %>';
      var product  = '<%= data["product"] %>';
      var controller  = '<%= data["controller"] %>';
      path_links.push({
        source: '<%= data["reactant"] %>',
        idA: '<%= data["reactant"] %>',
        typeA: 'smallmolecule',
        target: '<%= data["product"] %>',
        idB: '<%= data["product"] %>',
        typeB: 'smallmolecule',
        type: 'activation'
      });
      node_labels['<%= data["reactant"] %>']='<%= data["reactant"] %>'
    
      edge_labels['<%= data["reactant"] %><%= data["product"] %>']='<%= data["controller"] %>'
      
    //console.log(path_links);

    <% end %>
  <% end %>
var links = path_links;

initGraph(links, node_labels, edge_labels, "graphArea", 545, 475, "A", 0, 1, 1);
</script>

<!-- Excel file read-->
<script>
let rxn_array;

function readExcel() {
  let input = event.target;
  let reader = new FileReader();
    reader.onload = function () {
      let data = reader.result;
      let workBook = XLSX.read(data, { type: 'binary' });
      workBook.SheetNames.forEach(function (sheetName) {
        //console.log('SheetName: ' + sheetName);
        let rows = XLSX.utils.sheet_to_json(workBook.Sheets[sheetName]);
        rxn_array = (rows);
       });
      //console.log(rxn_array);
        var table = document.createElement('table');
        var tr = document.createElement('tr');
        for (key in rxn_array[0]) {
          // th要素を生成
          var th = document.createElement('th');
          // th要素内にテキストを追加
          th.textContent = key;
          // th要素をtr要素の子要素に追加
          tr.appendChild(th);
        }
        // tr要素をtable要素の子要素に追加
        table.appendChild(tr);

        // テーブル本体を作成
        for (var i = 0; i < rxn_array.length; i++) {
          // tr要素を生成
          var tr = document.createElement('tr');
          // th・td部分のループ
          for (key in rxn_array[0]) {
            // td要素を生成
            var td = document.createElement('td');
            // td要素内にテキストを追加
            td.textContent = rxn_array[i][key];
            // td要素をtr要素の子要素に追加
            tr.appendChild(td);
          }
          // tr要素をtable要素の子要素に追加
          table.appendChild(tr);
        }
        // 生成したtable要素を追加する
        document.getElementById('rxn_json').appendChild(table);
    };
    reader.readAsBinaryString(input.files[0]);
}

</script>


<!-- Glycan select box-->
<div class="container mb-4">
<h5>Click on icon of glycan if there is a proper one. It will be a starter glycan in your glycan pathway.</h5>
  <div class="panel panel-info">
    <div class="panel-heading"><b>Glycan motifs</b></div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title" style="color:blue">N-glycan</h5>
                <div class="row no-gutters">
                  <div class="col-6">Core
                    <div class="bg-white">
                      <%= link_to new_gpathway_greaction_path(@gpathway), id: 'newReaction', remote: true, data: { target: '#reactionModal', toggle: 'modal'}, class: 'btn btn-outline-light btn-sm' do %>
                      <img id="n_core" class="icon" data-accession="G22768VO" src="https://image.beta.glycosmos.org/snfg/png/G22768VO" height="50" width="120" style="float:left"><% end %>
                    </div>
                  </div>
                  <div class="col-6 icons">Hybrid
                    <div class="bg-white">
                      <%= link_to new_gpathway_greaction_path(@gpathway), id: 'newReaction', remote: true, data: { target: '#reactionModal', toggle: 'modal'}, class: 'btn btn-outline-light btn-sm' do %>
                      <img id="n_hybrid" class="icon" data-accession="G55220VL" src="https://image.beta.glycosmos.org/snfg/png/G55220VL" height="75" width="145" style="float:right;margin-left:5px"><% end %>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>

        <div class="col-sm-8">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title" style="color:blue">Others</h5>
                <div class="row">
                  <div class="col-3">Hyaluronic Acid 
                    <div class="bg-white">
                      <%= link_to new_gpathway_greaction_path(@gpathway), id: 'newReaction', remote: true, data: { target: '#reactionModal', toggle: 'modal'}, class: 'btn btn-outline-light btn-sm' do %>
                      <img id="hyalu" class="icon" data-accession="G48124SB" src="https://image.beta.glycosmos.org/snfg/png/G48124SB" style="max-width: 100%; height: auto;"><% end %></div>
                  </div>
                  <div class="col-3">Cad Antigen 
                    <div class="bg-white">
                      <%= link_to new_gpathway_greaction_path(@gpathway), id: 'newReaction', remote: true, data: { target: '#reactionModal', toggle: 'modal'}, class: 'btn btn-outline-light btn-sm' do %>
                      <img id="cad_antigen" class="icon" data-accession="G00063MO" src="https://image.beta.glycosmos.org/snfg/png/G00063MO" style="max-width: 100%; height: auto;"><% end %></div>
                  </div>
                  <div class="col-3">PK Antigen 
                    <div class="bg-white">
                      <%= link_to new_gpathway_greaction_path(@gpathway), id: 'newReaction', remote: true, data: { target: '#reactionModal', toggle: 'modal'}, class: 'btn btn-outline-light btn-sm' do %>
                      <img id="pk_antigen" class="icon" data-accession="G00059MO" src="https://image.beta.glycosmos.org/snfg/png/G00059MO" style="max-width: 100%; height: auto;"><% end %></div>
                  </div>
                  <div class="col-3">Poly Lactosamine
                    <div class="bg-white">
                      <%= link_to new_gpathway_greaction_path(@gpathway), id: 'newReaction', remote: true, data: { target: '#reactionModal', toggle: 'modal'}, class: 'btn btn-outline-light btn-sm' do %>
                      <img id="poly_lacto" class="icon" data-accession="G00058MO" src="https://image.beta.glycosmos.org/snfg/png/G00058MO" style="max-width: 100%; height: auto;"><% end %></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="row mt-2">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title" style="color:blue">GAGs</h5>
                <div class="row">
                  <div class="col-2">Hyaluronic Acid
                    <div class="bg-white">
                      <%= link_to new_gpathway_greaction_path(@gpathway), id: 'newReaction', remote: true, data: { target: '#reactionModal', toggle: 'modal'}, class: 'btn btn-outline-light btn-sm' do %>
                      <img id="gags_hyalu" class="icon" data-accession="G48124SB" src="https://image.beta.glycosmos.org/snfg/png/G48124SB" style="max-width: 100%; height: auto;"><% end %></div>
                  </div>
                  <div class="col-2">Ganglio 
                    <div class="bg-white">
                      <%= link_to new_gpathway_greaction_path(@gpathway), id: 'newReaction', remote: true, data: { target: '#reactionModal', toggle: 'modal'}, class: 'btn btn-outline-light btn-sm' do %>
                      <img id="gl_gangl" class="icon" data-accession="G21856LC" src="https://image.beta.glycosmos.org/snfg/png/G21856LC" style="max-width: 100%; height: auto;"><% end %></div>
                  </div>
                  <div class="col-2">Globo 
                    <div class="bg-white">
                      <%= link_to new_gpathway_greaction_path(@gpathway), id: 'newReaction', remote: true, data: { target: '#reactionModal', toggle: 'modal'}, class: 'btn btn-outline-light btn-sm' do %>
                      <img id="gl_globo" class="icon" data-accession="G00061MO" src="https://image.beta.glycosmos.org/snfg/png/G00061MO" style="max-width: 100%; height: auto;"><% end %></div>
                  </div>
                  <div class="col-2">Muco 
                    <div class="bg-white">
                      <%= link_to new_gpathway_greaction_path(@gpathway), id: 'newReaction', remote: true, data: { target: '#reactionModal', toggle: 'modal'}, class: 'btn btn-outline-light btn-sm' do %>
                      <img id="gl_muco" class="icon" data-accession="G99042JP" src="https://image.beta.glycosmos.org/snfg/png/G99042JP" style="max-width: 100%; height: auto;"><% end %></div>
                  </div>
                  <div class="col-2">Muco 
                    <div class="bg-white">
                      <%= link_to new_gpathway_greaction_path(@gpathway), id: 'newReaction', remote: true, data: { target: '#reactionModal', toggle: 'modal'}, class: 'btn btn-outline-light btn-sm' do %>
                      <img id="n_hybrid" class="icon" data-accession="G55220VL" src="https://image.beta.glycosmos.org/snfg/png/G99042JP" style="max-width: 100%; height: auto;"><% end %></div>
                  </div>
                  <div class="col-2">Muco 
                    <div class="bg-white">
                      <%= link_to new_gpathway_greaction_path(@gpathway), id: 'newReaction', remote: true, data: { target: '#reactionModal', toggle: 'modal'}, class: 'btn btn-outline-light btn-sm' do %>
                      <img id="n_hybrid" class="icon" data-accession="G55220VL" src="https://image.beta.glycosmos.org/snfg/png/G99042JP" style="max-width: 100%; height: auto;"><% end %></div>
                  </div>
                </div>
              </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Reaction Index -->
<div class="container mt-11 mb-5">
  <div class="panel panel-info">
    <div class="panel-heading"><h4><b>Reaction Table</b></h4></div>
      <div class="panel-body">
        <table class="table table-hover" id="rxntable">
          <thead class="thead-light">
            <tr>
              <th class="text-center">RXN ID</th>
              <th class="text-center">Reactant</th>
              <th class="text-center">Enzyme</th>
              <th class="text-center">Sugar Nucleotide</th>
              <th class="text-center">Product</th>
              <th class="text-center">Cell Location</th>
              <th colspan="７">Action&nbsp;&nbsp;
                <%= link_to new_gpathway_greaction_path(@gpathway), id: 'newReaction', remote: true, data: { target: '#reactionModal', toggle: 'modal'}, class: 'btn btn-primary btn-sm' do %>
                <i class="fas fa-plus-square"></i><% end %>
                  <div id="reactionModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="reactionModalLabel" aria-hidden="true"> 
                    <div class="modal-dialog" role="document"></div>
                  </div>
              </th>
            </tr>
          </thead>
          <tbody id="rxnbody">
            <% @gpathway.greactions.each do |greaction|%>
              <tr class="rxnrow">
                <td id='rxnNum'><%=greaction.rxnid%>&nbsp;</td>
                <td><glytoucan-image accession="<%=greaction.reactant_img %>" imageApi="https://api.glycosmos.org/wurcs2image/experimental/png/binary/" ></glytoucan-image></td>
                <td><%=greaction.enzyme_name%></td>
                <td><%=greaction.sugar_nt%></td>
                <td><glytoucan-image accession="<%=greaction.product_img %>" imageApi="https://api.glycosmos.org/wurcs2image/experimental/png/binary/" ></glytoucan-image></td>
                <td><%=greaction.cellular_locate%></td>
                <td>
                  <%= link_to new_gpathway_greaction_path(@gpathway), id: 'newReaction' , remote: true, data: { target: '#reactionModal', toggle: 'modal'}, data: { id: greaction.rxnid }, class: 'btn btn-primary btn-sm checkBtn' do %>
                    <i class="fas fa-plus-square"></i><% end %>
                    <div id="reactionModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="reactionModalLabel" aria-hidden="true"> 
                      <div class="modal-dialog" role="document"></div>
                    </div>
                  <%= link_to edit_gpathway_greaction_path(@gpathway, greaction.id), remote: true, data: { target: '#edit_reactionModal', toggle: 'modal'}, class: 'btn btn-success btn-sm' do %>
                    <i class="fas fa-edit"></i><% end %>
                    <div id="edit_reactionModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="edit_reactionLabel" aria-hidden="true"> 
                      <div class="modalEdit" role="document"></div>
                    </div>
                  <%= link_to gpathway_greaction_path(@gpathway, greaction), class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' }  do %>
                    <i class="fas fa-trash-alt"></i><% end %>
                </td>  
              </tr> 
            <% end %>
          </tbody>
        </table>
        
     </div>
   </div>
</div>
<div class="container mb-5">
  <%= link_to "Pathway List", gpathways_path, class: 'btn btn-secondary btn-sm' %>
  <%= link_to_if  @grxn_count != 0, "Regist (RDF)", rdf_upload_gpathway_greactions_path(@gpathway), method: :post, class: 'btn btn-primary btn-sm' , style: 'float:right'%>  
</div>

<!-- jstree -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />

<!-- jQuery UI
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script> 
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"> 
-->

<!-- jsTree for pathway category-->
<script>
  $(function(){
    var pw_url = "http://localhost:3002/sparqlist/api/PW_category";
    console.log($('#pw_category').jstree);
    $('#pw_category').jstree({ 
        'core' : {
          'data' : {
              'url' : pw_url,
              'data' : function (node) {
                return { 'id': node.text };
              } 
            }
          },
        'plugins' :   [ "themes", "json_data", "contextmenu", "search" ] 
      });
    $('#pw_category').bind("select_node.jstree", function (event, data) {
        var node_id = data.instance.get_node(data.selected).id;        //id 가져오기
        var node_text = data.instance.get_node(data.selected).text;    //text 가져오기
        //console.log("id= "+ node_id + " text = " + node_text);      
          document.getElementById("gpathway_pw_category").value = node_text;
          document.getElementById("gpathway_pw_category_id").value = node_id;
    });
  })
</script>

<!-- jsTree for tissue ontology -->
<script>
  $(function(){
    var tissue_url = "http://localhost:3002/sparqlist/api/Tissue_Onto";
    $('#tissue_select').jstree({ 
      'core' : { 
        'data' : {
            'url' : tissue_url,
            'data' : function (node) {
              　return { 'id': node.text };
            } 
          }    
        }
      });
    $('#tissue_select').bind("select_node.jstree", function (event, data) {
      var node_id = data.instance.get_node(data.selected).id;        //id 가져오기
      var node_text = data.instance.get_node(data.selected).text;    //text 가져오기
      //console.log("id= "+ node_id + " text = " + node_text);     
      document.getElementById("gpathway_tissue").value = node_text;
      document.getElementById("gpathway_tissue_id").value = node_id;
      });
  })
</script>
<!-- select of glycan Motif -->
<script>
$(function (){
  const target = $('.icon');
  var glycan_ids = ["n_core", "n_hybrid", "hyalu", "cad_antigen", "pk_antigen", "poly_lacto", "gags_hyalu"];
  target.on("click", function(e) {
    //console.log(e.target);
    var glycan_id = e.target.id;
    if (glycan_id == "n_core") {
        var id_val = $('#n_core').data('accession');
      } else if (glycan_id == "n_hybrid" ) {
        var id_val = $('#n_hybrid').data('accession');
      } else if (glycan_id == "hyalu" ) {
        var id_val = $('#hyalu').data('accession');
      } else if (glycan_id == "cad_antigen" ) {
        var id_val = $('#cad_antigen').data('accession');
      } else if (glycan_id == "pk_antigen" ) {
        var id_val = $('#pk_antigen').data('accession');
      } else if (glycan_id == "poly_lacto" ) {
        var id_val = $('#poly_lacto').data('accession');
      } else if (glycan_id == "gags_hyalu" ) {
        var id_val = $('#gags_hyalu').data('accession');
      }
    var glycan_select_id = id_val;
    //console.log(glycan_select_id);

    var data = "glycan_motif_id=" + encodeURIComponent(glycan_select_id)
    $.ajax({
      url: 'http://localhost:3000/gpathways/<%=@gpathway%>',
      data: data,
      type:'get'
      })
      .done(function(response) {
        return data
      })
      .fail(function(error){
        console.log("error")
      })
  }); 
})
</script>
