
<%=render 'gpathways/error' %>

<main class="mt-1 pt-2">
  <div class="container fadeIn">
    <h2 class="my-5 h2 text-left">Pathway Basic information</h2>
      <div class="row">
        <div class="col-md-7 mb-4">
          <ul class="list-group mb-3 z-depth-1">
          <li class="list-group-item d-flex justify-content-between bg-light">
            <div>
              <h6 class="text-primary">Title</h6>
              <h5 class="text-muted"><%= @gpathway.title %></h5>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="text-primary">Description</h6>
              <h5 class="text-muted"><%= simple_format @gpathway.description %></h5>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between bg-light">
            <div>
              <h6 class="text-primary">Species</h6>
              <h5><%= @gpathway.species %></h5>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="text-primary">Tissue</h6>
              <h5 class="text-muted"><%= @gpathway.tissue %></h5>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="text-primary">Pathway Category</h6>
              <h5 class="text-muted"><%= @gpathway.pw_category %></h5>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between bg-light">
            <div>
              <h6 class="text-primary">Cell Line</h6>
              <h5 class="text-muted"><%= @gpathway.cell_line %></h5>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="text-primary">Binding site</h6>
              <h5 class="text-muted"><%= @gpathway.bind_backbone %></h5>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between bg-light">
            <div>
              <h6 class="text-primary">Regist date</h6>
              <h5 class="text-muted"><%= @gpathway.updated_at.strftime("%Y-%m-%d") %></h5>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <% if @gpathway.user == current_user %>
              <div class="float-left">
                <%=link_to 'Pathway List', gpathways_path, class: "btn btn-primary btn-lg" %>
              </div>
              <div class="float-right">
                <%=link_to 'Edit', edit_gpathway_path(@gpathway), remote: true, data: { target: '#pathwayModal', toggle: 'modal'}, class: "btn btn-outline-info btn-lg" %>
              
                <%#=link_to 'Delete', gpathway_path(@gpathway), method: :delete, class: "btn btn-outline-danger btn-lg", data: { confirm: 'Are you sure?' } %>
                  <div id="pathwayModal" class="modal fade"   tabindex="-1" role="dialog" aria-labelledby="pathwayModalLabel" aria-hidden="true"> 
                    <div class="pwModalDialog" role="document"> </div>
                  </div>
              </div>
              <div>
                <!-- Modal for pathway category -->
                <div class="modal fade" id="pwOntoModal" role="dialog">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Pathway Category</h4>
                      </div>  
                      <div class="modal-body">
                        <div id="pw_category"></div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal for Tissue ontology -->
                <div class="modal fade" id="tissueOntoModal"  role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Tissue for animal</h4>
                      </div>
                      <div class="modal-body">
                        <div id="tissue_select"></div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>

<!-- Reaction Index -->
<div class="container mt-11">
<h3>Reaction Table</h3>
  <table class="table table-hover" id="rxntable">
    <thead class="thead-light">
      <tr>
        <th class="text-center">RXN ID</th>
        <th class="text-center">Reactant</th>
        <th class="text-center">Enzyme</th>
        <th class="text-center">Sugar Nucleotide</th>
        <th class="text-center">Product</th>
        <th class="text-center">Cell Location</th>
        <th colspan="７">Action&nbsp;&nbsp;
          <%= link_to new_gpathway_greaction_path(@gpathway), id: 'newReaction', remote: true, data: { target: '#reactionModal', toggle: 'modal'}, class: 'btn btn-primary btn-sm' do %>
          <i class="fas fa-plus-square"></i><% end %>
            <div id="reactionModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="reactionModalLabel" aria-hidden="true"> 
              <div class="modal-dialog" role="document"></div>
            </div>
        </th>
      </tr>
    </thead>
    <tbody id="rxnbody">
      <% @gpathway.greactions.each do |greaction|%>
        <tr class="rxnrow">
          <td id='rxnNum'><%=greaction.rxnid%>&nbsp;</td>
          <td><glytoucan-image accession="<%=greaction.reactant_img %>" imageApi="https://api.glycosmos.org/wurcs2image/experimental/png/binary/" ></glytoucan-image></td>
          <td><%=greaction.enzyme_name%></td>
          <td><%=greaction.sugar_nt%></td>
          <td><glytoucan-image accession="<%=greaction.product_img %>" imageApi="https://api.glycosmos.org/wurcs2image/experimental/png/binary/" ></glytoucan-image></td>
          <td><%=greaction.cellular_locate%></td>
          <td>
            <%= link_to new_gpathway_greaction_path(@gpathway), id: 'newReaction' , remote: true, data: { target: '#reactionModal', toggle: 'modal'}, data: { id: greaction.rxnid }, class: 'btn btn-primary btn-sm checkBtn' do %>
              <i class="fas fa-plus-square"></i><% end %>
              <div id="reactionModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="reactionModalLabel" aria-hidden="true"> 
                <div class="modal-dialog" role="document"></div>
              </div>
            <%= link_to edit_gpathway_greaction_path(@gpathway, greaction.id), remote: true, data: { target: '#edit_reactionModal', toggle: 'modal'}, class: 'btn btn-success btn-sm' do %>
              <i class="fas fa-edit"></i><% end %>
              <div id="edit_reactionModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="edit_reactionLabel" aria-hidden="true"> 
                <div class="modalEdit" role="document"></div>
              </div>
            <%= link_to gpathway_greaction_path(@gpathway, greaction), class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' }  do %>
              <i class="fas fa-trash-alt"></i><% end %>
            <%# <button type="button" class="btn btn-outline-info btn-sm checkBtn">Insert Reaction</button> %>
          </td>  
        </tr> 
      <% end %>
    </tbody>
  </table>
  <%= link_to "RDF", gpathway_path(@gpathway), method: :post, class: 'btn btn-success btn-sm' %>
</div>

<script>
$(function(){
  $(".checkBtn").click(function() {
    var checkBtn = $(this); 
    var newId = checkBtn.data('id');
    console.log("new: " + newId);
    
  });
}) 
</script>


