<!-- Modal body for New Reaction-->
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="reactionModalLabel">Add of New Reaction</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <%=form_with model: @greaction, url: gpathway_greactions_path(@gpathway), remote: true do |f|%>   <!--create action으로 보내야 한다 -->
  <div class="modal-body">
    <div class="form-group" id="reactionId">
      <label for="greaction_rxnid">Reaction ID</label>
      <%= f.text_field :rxnid, class: "form-control", :value => "#{session[:number]}" %> 
      <%#= f.number_field :rxnid, min: 1, max: 99, step: 1, class: "form-control count" %>
    </div>
    <div class="form-group">
      <label for="greaction_reactant">Reactant Glycan</label>&nbsp;&nbsp;
      <%= select_tag :textype1, options_for_select([["GlyToucan ID", "glytoucanid"], ["IUPACcondensed", "iupaccondensed"], ["IUPACextened", "iupacextended"], ["Linear code", "linearcode"]])%><br >
      <%= f.text_field :reactant, class: "form-control" %></div>
    <div class="form-group">
      <label for="greaction_enzyme_name">Enzyme</label>
      <%= f.text_field :enzyme_name, class: "form-control autocomplete" , placeholder: "Type enzyme name" %>
      <%= f.hidden_field :enzyme_onto_id, class: "form-control" %></div>
    <div class="form-group">
      <label for="greaction_sugar_nt">Sugar Nucleotide</label>
      <%= f.text_field  :sugar_nt, class: "form-control autocomplete", placeholder: "Type your Sugar Nucleotide(e.g. Glucose)"  %>
      <%= f.hidden_field :sugar_onto_id, class: "form-control"%></div>
    <div class="form-group">
      <label for="greaction_texttype2">Product Glycan</label>&nbsp;&nbsp;
      <%= select_tag :textype2, options_for_select([["GlyToucan ID", "glytoucanid"],["IUPACcondensed", "iupaccondensed"], ["IUPACextened", "iupacextended"], ["Linear code", "linearcode"]])%><br >
      <%= f.text_field :product, class: "form-control" %></div> 
    <div class="form-group">
      <label for="greaction_cellular_locate">Cellular Localization</label>
      <%= f.text_field  :cellular_locate, class: "form-control autocomplete", placeholder: "Type your cellular localizaton(e.g. Golgi)"  %>
      <%= f.hidden_field :cellcomp_onto_id, class: "form-control"%></div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <%= f.submit "Create", class: "btn btn-primary" %>
  </div>
  <% end %>
  </div>

<script>
// $(function(){
//   $("#reactionId").click(function() {
//     //temp = location.href;
//     //console.log(temp);
//     var t1 = "3";
//     $('input[id=greaction_rxnid]').attr('value',t1);
//   });
// })

//, :value => '2'  ==> 나중에 사용
</script>


<!-- For autocomplete, enzyme and cellular_localization -->
<script>
 $(function(){
    var sugarNt = [{"Name": "4-Epilegionaminic acid", "Id": "126961780"}, {"Name": "6-Deoxy-L-altrose", "Id": "12302958"}, {"Name": "N-Acetyl-6-deoxy-L-altrosamine", "Id": "126961777"}, {"Name": "6-Deoxy-D-gulose", "Id": "12302960"}, {"Name": "6-Deoxy-D-talose", "Id": "44119431"}, {"Name": "N-Acetyl-6-deoxy-D-talosamine", "Id": "126961778"}, {"Name": "Abequose", "Id": "160540"}, {"Name": "Acinetaminic acid", "Id": "126961779"}, {"Name": "D-Allose", "Id": "439507"}, {"Name": "D-Alluronic acid", "Id": "6602103"}, {"Name": "D-Allosamine", "Id": "6915732"}, {"Name": "N-Acetyl-D-allosamine", "Id": "10944029"}, {"Name": "L-Altrose", "Id": "10219674"}, {"Name": "L-Altruronic acid", "Id": "56845780"}, {"Name": "L-Altrosamine", "Id": "6602094"}, {"Name": "N-Acetyl-L-altrosamine", "Id": "44717159"}, {"Name": "L-Apiose", "Id": "12306753"}, {"Name": "L-Arabinose", "Id": "439195"}, {"Name": "Bacillosamine", "Id": "54029194"}, {"Name": "Colitose", "Id": "12303780"}, {"Name": "D-glycero-D-manno-Heptose", "Id": "53681436"}, {"Name": "3-Deoxy-D-lyxo-heptulosaric acid", "Id": "15608515"}, {"Name": "D-Digitoxose", "Id": "2723626"}, {"Name": "D-Fructose", "Id": "2723872"}, {"Name": "L-Fucose", "Id": "17106"}, {"Name": "N-Acetyl-L-fucosamine", "Id": "91810489"}, {"Name": "D-Galactose", "Id": "6036"}, {"Name": "D-Galacturonic acid", "Id": "439215"}, {"Name": "D-Galactosamine", "Id": "24154"}, {"Name": "N-Acetyl-D-galactosamine", "Id": "35717"}, {"Name": "D-Glucose", "Id": "5793"}, {"Name": "D-Glucuronic acid", "Id": "94715"}, {"Name": "D-Glucosamine", "Id": "439213"}, {"Name": "N-Acetyl-D-glucosamine", "Id": "439174"}, {"Name": "D-Gulose", "Id": "441033"}, {"Name": "D-Guluronic acid", "Id": "11788788"}, {"Name": "D-Gulosamine", "Id": "9920528"}, {"Name": "N-Acetyl-D-gulosamine", "Id": "13201633"}, {"Name": "L-Idose", "Id": "11030410"}, {"Name": "L-Iduronic acid", "Id": "441039"}, {"Name": "L-Idosamine", "Id": "91864695"}, {"Name": "N-Acetyl-L-idosamine", "Id": "13201636"}, {"Name": "3-Deoxy-D-glycero-D-galacto-nonulosonic acid", "Id": "13991616"}, {"Name": "3-Deoxy-D-manno-octulosonic acid", "Id": "10857507"}, {"Name": "Legionaminic acid", "Id": "70678967"}, {"Name": "L-glycero-D-manno-Heptose", "Id": "21120522"}, {"Name": "D-Lyxose", "Id": "439240"}, {"Name": "D-Mannose", "Id": "18950"}, {"Name": "D-Mannuronic acid", "Id": "439630"}, {"Name": "D-Mannosamine", "Id": "440049"}, {"Name": "N-Acetyl-D-mannosamine", "Id": "439281"}, {"Name": "Muramic acid", "Id": "441038"}, {"Name": "N-Acetylmuramic acid", "Id": "441038"}, {"Name": "N-Glycolylmuramic acid", "Id": "91810748"}, {"Name": "Neuraminic acid", "Id": "441037"}, {"Name": "N-Acetylneuraminic acid", "Id": "439197"}, {"Name": "N-Glycolylneuraminic acid", "Id": "91810748"}, {"Name": "Olivose", "Id": "10888063"}, {"Name": "Paratose", "Id": "12303783"}, {"Name": "Pseudaminic acid", "Id": "101137651"}, {"Name": "D-Psicose", "Id": "441036"}, {"Name": "D-Quinovose", "Id": "439746"}, {"Name": "N-Acetyl-D-quinovosamine", "Id": "11954187"}, {"Name": "L-Rhamnose", "Id": "25310"}, {"Name": "N-Acetyl-L-rhamnosamine", "Id": "91807222"}, {"Name": "D-Ribose", "Id": "10975657"}, {"Name": "Sialic acid", "Id": "906"}, {"Name": "L-Sorbose", "Id": "439192"}, {"Name": "D-Tagatose", "Id": "439312"}, {"Name": "D-Talose", "Id": "441035"}, {"Name": "D-Taluronic acid", "Id": "11298488"}, {"Name": "D-Talosamine", "Id": "9834117"}, {"Name": "N-Acetyl-D-talosamine", "Id": "57376616"}, {"Name": "Tyvelose", "Id": "12303782"}, {"Name": "D-Xylose", "Id": "135191"}]
    $("#greaction_sugar_nt").autocomplete({
      source: function (request, response) {
        response(
          $.map(sugarNt, function (val, key) {
            if(val.Name.search(request.term) >= 0 ){  //문자의 일치 검색
              return {
                label: val.Name,
                value: val.Name,
                'data-id': val.Id
              }
            }
          })
        );
      }, 
      select: function( event, ui ) {
          //console.log(ui.item.value);
          $('#greaction_sugar_onto_id').val(`${ui.item['data-id']}`);   //ontology ID 얻기
        },
      delay: 300,
      minLength: 2,
      autoFocus: true
    })
 });
</script>

<script>
 $(function(){
    var enzyme_url = "http://localhost:3000/cazy_ec_enz_list.json";
      $("#greaction_enzyme_name").autocomplete({
        source: function (request, response) {
          $.ajax({
            url: enzyme_url, 
            dataType: "json",
            success: function(data) {
              response(
                $.map(data, function (item) {
                  //console.log(item);
                  if(item.enz_name.search(request.term) >= 0 ){  //문자의 일치 검색
                    return { 
                      label: item.enz_name,
                      value: item.enz_name,
                      'data-id': item.enz_number  //ontology를 얻기위해서 변수를 만듬.
                    } 
                  }
                })
              );
            },
          });
        },
        select: function( event, ui ) {
                //console.log(ui.item.value);
          $('#greaction_enzyme_onto_id').val(`${ui.item['data-id']}`);   //ontology ID 얻기
        },
        delay: 300,
        minLength: 2,
        autoFocus: true
      })
});
</script>
<script>
 $(function(){
    var cell_comp_url = "http://localhost:3002/sparqlist/api/GO_Cell_Location";
      $("#greaction_cellular_locate").autocomplete({
        source: function (request, response) {
          $.ajax({
            url: cell_comp_url, 
            dataType: "json",
            success: function(data) {
              response(
                $.map(data, function (item) {
                  //console.log(item);
                  if(item.cell_comp_name.search(request.term) >= 0 ){
                    return { label: item.cell_comp_name,
                              value: item.cell_comp_name,
                              'data-id': item.cell_comp_id  //cellular_component ontology를 얻기위해서 변수를 만듬.
                    }
                  } 
                })
              );
            },
          });
        },
        select: function( event, ui ) {
                //console.log(ui.item.value);
          $('#greaction_cellcomp_onto_id').val(`${ui.item['data-id']}`);   //ontology ID 얻기
        },
        delay: 300,
        minLength: 2,
        autoFocus: true
      });
})
</script>

<!-- jQuery -->
<%# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> %>
<!-- jQuery UI -->
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">








