<div class="container mt-5 mb-5">
  <div class="row">
    <div class="panel panel-info">
      <div class="panel-heading"><b><%= @gpathway.title %></b>&nbsp;&nbsp;pathway is Uploaded!<br></div>
        <div class="panel-body">
          
          <div class="row">
            <% @greactions.each do |greaction|%> 
              <tr>
                <td><glytoucan-image accession="<%=greaction.reactant_img %>" imageApi="https://api.glycosmos.org/wurcs2image/experimental/png/binary/" ></glytoucan-image></td>
              <% end %>
              </tr> 
              <glytoucan-image accession="<%=@last_product %>" imageApi="https://api.glycosmos.org/wurcs2image/experimental/png/binary/" ></glytoucan-image>
            
          </div>

        </div>
      </div>  
    </div>
    <div class="float-left">
      <%= link_to "Pathway List", gpathways_path, class: 'btn btn-outline-info' %>
    </div>

    <div class="float-right">
      <%= link_to "Pathway Search", searches_index_path, class: 'btn btn-info' %>
    </div>
  </div>
</div>
